.main-container3 {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
    
}
.main-title3 {
    display:flex;
    justify-content: space-between;
    position: absolute;
}

.form mt-3{
    width: 100%;
}

.signup_container {
    width: 80%;
    padding-top: -10px;
    padding-left: 20%;

}

.border p-3{
    width: 100%;
}

.black-text{
    color: black;
}

form.black-border{
    border: 1px solid black !important;
}

.custom-width {
    width: 500px;
}